@font-face {
    font-family: 'Noto Naskh Arabic UI';
    font-style: normal;
    src: url(fonts/NotoNaskhArabicUI-Regular.eot);
    src: url(fonts/NotoNaskhArabicUI-Regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoNaskhArabicUI-Regular.woff) format('woff'),
    url(fonts/NotoNaskhArabicUI-Regular.ttf) format('truetype');
}body{
		 margin:0px;
}
 .body{
	 color:#333333;
    font-size: 14px;
    background-color:#f9f9f9;
    font-family: 'Noto Naskh Arabic UI';

}
.mheader{
    background-color:#f7931e;
	height:39px;
}
.menu-bar{
    height: 40px;
    padding: 10px;
    font-size: 17px;
}
.mfooter{
    background-color:#f7931e;
	height:57px;
}
.right-copy{
	color:#FFF;
	padding:20px;
	text-align:center;

}
.m-logo{
	margin-top:30px;
	height:170px;
	}
.m-bold{
	font-weight:bold;
}
.line{
	margin-right:50px;
	margin-left:50px;
}
.serachtxt{
    background-color:#333333;
    color: #fff;
}
.m-img {
    margin-top: -3px;
}
.rect{
    color: #0f0f0f;
    background-color: #fff;
    border: 1px;
    border-color:#dcdcdc;
    border-style:solid ;
    text-align: center;
    padding: 10px;
}
.clear{
    clear: both;
}
.m-color {
background-color: #f3f7e7;
border: 2px;
border-color:#f5c583;
border-style:solid ;
}
.title{
    color: #2e3192;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.new-word{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.m-gray{
    background-color: #e5e5e5;
    border: 0px;
    border-color:#e5e5e5;
    border-style:solid ;
}
.m-text{
    border-radius:40px;
    height: 50px;
    border: 0px;
    text-align: center;
}

.form-rounded {
    border-radius: 30px;
}
.m-name{
    float: left;
    margin-left: 20px;
}
.gooplay{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
}
.martop{
    margin-top: 5px;
}
.marto{
    margin-top: -5px;
}
a:link {
    color:#333333;
    text-decoration: none;
}
a:visited {
    color:#333333;
    text-decoration: none;
}
a:hover {
    color:#333333;
    text-decoration: none;
}
a:active {
    color:#333333;
    text-decoration: none;
}
.not-found
{
    margin: 0 1%;
}




